:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}


#images {
    display: flex;
    margin: 10px;
} 

#horn-image {
    object-fit: contain;
    max-width: 700px;
    background-color: rgb(121, 52, 2);
}

#keyboard-image {
    object-fit: contain;
    max-width: 700px;
    background-color: rgb(31, 79, 162);
}

#singer-image {
    object-fit: contain;
    max-width: 700px;
}

.format {
    display: grid;
    align-items: center;
    justify-content: center;
    display: center;
    margin: 5px;
    
}

.slogan-format {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}